*.class
*.log
.vscode/settings.json
.scala-build
.metals
.bsp
out
.bloop

# idea
.idea
.idea_modules
/.worksheet/
.DS_Store

# XL
examples/resources/*.xlsx
benchmark_output.txt

# Benchmark generated data
benchmark/resources/benchmark_*.csv
