name: CI

env:
  FORCE_COLOR: '1'
on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
    branches:
      - "*"

permissions:
  id-token: write
  pages: write
  contents: read

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  test:
    name: test on ${{ matrix.platform }}
    strategy:
      matrix:
        platform: [ 'jvm', 'js' ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: coursier/cache-action@v6.4
      - name: Compile ${{ matrix.platform }}
        run: ./mill scautable.${{ matrix.platform }}.compile
      - name: test ${{ matrix.platform }}
        run: ./mill scautable.test.${{ matrix.platform }}
      - name: Publish ${{ matrix.platform }} artifacts
        run: ./mill -i scautable.${{ matrix.platform }}.publishArtifacts
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: always()
        with:
          fail_on_failure: false
          include_passed: false
          detailed_summary: true
          annotate_only: true
          require_tests: false
          report_paths: 'out/**/test-report.xml'

  publish:
    if: github.repository == 'Quafadas/scautable' && contains(github.ref, 'refs/tags/')
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: actions/setup-java@main
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Publish to Maven Central
        run: ./mill mill.javalib.SonatypeCentralPublishModule/
        env:
          MILL_PGP_PASSPHRASE: ${{ secrets.MILL_PGP_PASSPHRASE  }}
          MILL_PGP_SECRET_BASE64: ${{ secrets.MILL_PGP_SECRET_BASE64 }}
          MILL_SONATYPE_PASSWORD: ${{ secrets.PUBLISH_PASSWORD }}
          MILL_SONATYPE_USERNAME: ${{ secrets.PUBLISH_USER }}

  # Check that we can _generate_ the docs, but don't run upload / pages actions to actually deploy them for pull requests.
  site_pr_check:
    if: github.event_name == 'pull_request'
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
          fetch-tags: true
      - run: ./mill site.siteGen

  # Check that we can _generate_ the docs, but don't run upload / pages actions to actually deploy them for pull requests.
  examples_benchmarks_pr_check:
    if: github.event_name == 'pull_request'
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
          fetch-tags: true
      - run: ./mill examples.compile
      - run: ./mill benchmark.compile

  site:
    if: github.event_name != 'pull_request' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/'))
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
          fetch-tags: true
      - run: ./mill site.siteGen
      - name: Setup Pages
        uses: actions/configure-pages@main
      - uses: actions/upload-artifact@main
        with:
          name: page
          path: out/site/laika/generateSite.dest
          if-no-files-found: error

  deploy:
    if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
    needs: site
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@main
        with:
          name: page
          path: .
      - uses: actions/configure-pages@main
      - uses: actions/upload-pages-artifact@main
        with:
          path: .
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@main
